span#search-addon {
    position: absolute;
    z-index: 3;
    top: 8px;
    left: 2px;
}

.search-conversations {
    padding-left: 40px !important;
    height: 50px !important;
    background-color: #eeeeee !important;
}

.add-icon {
    font-size: 18px;
    cursor: pointer;
}

.messages {
    height: 78vh !important;
    overflow-y: scroll;
    width: 100%;
}

.person-list {
    height: 56vh;
    overflow-y: scroll;
}

.send-message-input {
    height: 50px;
}